@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-family: 'Poppins';

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    user-select: none;
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

input,
button {
    @apply bg-oxford-blue-500 p-2 rounded-lg outline-none select-none;
}

#greet-input {
    margin-right: 5px;
}

.glass {
    @apply shadow-inner w-full p-2 shadow-oxford-blue-200 text-oxford-blue-200 bg-oxford-blue-400/30 rounded-lg
}

dialog {
    @apply outline-none backdrop:bg-black/50 p-4 bg-gradient-to-bl from-oxford-blue-800 to-oxford-blue-600 rounded-xl text-oxford-blue-200 flex flex-col justify-stretch w-1/2;
    display: none !important;
}

dialog[open] {
    display: block !important;
}